.input-div {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px dotted black;
  background-color: white;
  position: relative;
}

.file {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.output-div {
  width: 100%;
  min-height: 150px;
  /* display: flex; */
  display: none;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  position: relative;
  border-radius: 5px;
}

.output-div .image {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.output-div .image img {
  height: 100%;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

.crop-Btn{
  height: 50px;
  width: 100px;
  display: none;
}